<% for(let i=notes.length-1; i>=0; i--){ %>
  <div class="n-note bg<%=notes[i].color || 0%>" data-notenumber="<%=notes[i]._id%>">
    <span class="n-heading">
      <%=notes[i].heading%>
    </span>
    <hr>
    <span class="n-text"><%=notes[i].text%></span>
    <span class="n-author"><%=notes[i].author%></span>
    <aside class="edit-3dot-icon">
      <div class="dots3"></div>
      <div class="dots3"></div>
      <div class="dots3"></div>
      <div class="hidden-menu hide">
        <div class="hidden-menu-elements">Edit</div>
        <div class="hidden-menu-elements">Delete</div>
      </div>
    </aside>
  </div>
<%}%>