<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Note</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>


  <header>
    <h1 class="page-head">Public Note</h1>
  </header>
  
  <main>    
    <div class="saved">
      <% for(let i=notes.length-1; i>=0; i--){ %>
        <div class="n-note bg<%=notes[i].color || 0%>" data-notenumber="<%=notes[i]._id%>">
          <span class="n-heading">
            <%=notes[i].heading%>
          </span>
          <hr>
          <span class="n-text"><%=notes[i].text%></span>
          <span class="n-author"><%=notes[i].author%></span>
          <aside class="edit-3dot-icon">
            <div class="dots3"></div>
            <div class="dots3"></div>
            <div class="dots3"></div>
            <div class="hidden-menu hide">
              <div class="hidden-menu-elements">Edit</div>
              <div class="hidden-menu-elements">Delete</div>
            </div>
          </aside>
        </div>
      <%}%>
    </div>
  </main>

  <section class="free">
    <div class="add">
      <span>
        &plus;
      </span>
    </div>
  </section>
  <article class="modal hide">
    <div class="edit-inputs-parent bg0">
      <input placeholder="Heading" size="1" name="heading" class="edit-heading" value="">
      <hr>
      <textarea placeholder="Text" required name="text" class="edit-text"></textarea>
      <input placeholder="Author" size="1" required name="author" class="edit-author" value="">
      <div class="edit-color-parent">
        <%for(let i=0; i<=8; i++){
          if(i===0){
          %>
            <label class="colors" for="bgColor<%=i%>"><input id="bgColor<%=i%>" checked class="edit-color" type="radio" value=<%=i%> name="color"><div class="bg<%=i%>"></div></label>
          <%} else {%>
            <label class="colors" for="bgColor<%=i%>"><input id="bgColor<%=i%>" class="edit-color" type="radio" value=<%=i%> name="color"><div class="bg<%=i%>"></div></label>
          <%}%>
        <%}%>
      </div>
      <div class="edit-buttons-parent">
        <div class="edit-button" id="save">Save</div>
        <div class="edit-button" id="cancel">Cancel</div>
      </div>
    </div>
  </article>
  <footer>
    <span>by <a href="http://bit.ly/ut-island">Utkarsh Dhiman</a></span>
  </footer>
  <script src="/script.js"></script>
</body>
</html>